In [ ]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
import pandas as pd

In [ ]:
# Loading our table from the respective CSV files 
with open('/content/student-mat.csv','r') as f:
    student_mat = pd.read_csv(f, index_col=0, encoding='utf-8')
# saving the urban center CSV file into a database
%sql DROP TABLE if EXISTS student_mat;
%sql PERSIST student_mat;

# Displaying the first  5 entries 
%sql SELECT * FROM student_mat LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('GP', 'F', 18, 'U', 'GT3', 'A', 4, 4, 'at_home', 'teacher', 'course', 'mother', 2, 2, 0, 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 4, 3, 4, 1, 1, 3, 6, 5, 6, 6),
 ('GP', 'F', 17, 'U', 'GT3', 'T', 1, 1, 'at_home', 'other', 'course', 'father', 1, 2, 0, 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 5, 3, 3, 1, 1, 3, 4, 5, 5, 6),
 ('GP', 'F', 15, 'U', 'LE3', 'T', 1, 1, 'at_home', 'other', 'other', 'mother', 1, 2, 3, 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 2, 2, 3, 3, 10, 7, 8, 10),
 ('GP', 'F', 15, 'U', 'GT3', 'T', 4, 2, 'health', 'services', 'home', 'mother', 1, 3, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 3, 2, 2, 1, 1, 5, 2, 15, 14, 15),
 ('GP', 'F', 16, 'U', 'GT3', 'T', 3, 3, 'other', 'other', 'home', 'father', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 4, 3, 2, 1, 2, 5, 4, 6, 10, 10)]

## Perfoming Arithmetic Operation

In [ ]:
# finding the sum of the rows with numeric values
%%sql

SELECT SUM(age) FROM student_mat;

 * sqlite://
Done.

[(6595,)]

In [ ]:
# finding the maximum age of the students
%%sql
SELECT MAX(age) FROM student_mat;

 * sqlite://
Done.

[(22,)]

In [ ]:
# finding the minimum age of the students
%%sql

SELECT MIN(age) FROM student_mat

 * sqlite://
Done.

[(15,)]

In [ ]:
# finding the total sum of the grades
%%sql

SELECT *FROM student_mat WHERE(G1+G2+G3) LIMIT 1;

 * sqlite://
Done.

[('GP', 'F', 18, 'U', 'GT3', 'A', 4, 4, 'at_home', 'teacher', 'course', 'mother', 2, 2, 0, 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 4, 3, 4, 1, 1, 3, 6, 5, 6, 6)]

In [ ]:
# selecting certain columns
%%sql
SELECT school, G1, G2, G3
FROM student_mat DESC LIMIT 1;

 * sqlite://
Done.

[('GP', 5, 6, 6)]

In [ ]:
# ordering in desc or asc order
%%sql

SELECT school, G1, G2, G3, age
FROM student_mat
ORDER BY age DESC LIMIT 5;

 * sqlite://
Done.

[('GP', 6, 8, 8, 22),
 ('MS', 10, 8, 7, 21),
 ('GP', 17, 18, 18, 20),
 ('MS', 15, 14, 15, 20),
 ('MS', 9, 9, 9, 20)]

In [ ]:
# renaming of columns
%%sql
SELECT Medu AS 'Mothers_Education'
FROM student_mat LIMIT 5;

 * sqlite://
Done.

[(4,), (1,), (1,), (4,), (3,)]

In [ ]:
# counting values
%%sql
SELECT COUNT(age)
FROM student_mat;

 * sqlite://
Done.

[(395,)]

In [ ]:
# grouping functions 
%%sql

SELECT school, COUNT(*)
FROM student_mat
GROUP BY school;

 * sqlite://
Done.

[('GP', 349), ('MS', 46)]

In [ ]:
%%sql

SELECT sex, COUNT(*)
FROM student_mat
GROUP BY sex;

 * sqlite://
Done.

[('F', 208), ('M', 187)]

In [ ]:
%%sql

SELECT MJob, COUNT(*)
FROM student_mat
GROUP BY MJob;

 * sqlite://
Done.

[('at_home', 59),
 ('health', 34),
 ('other', 141),
 ('services', 103),
 ('teacher', 58)]

In [ ]:
# checking for empty values
%%sql
SELECT age
FROM student_mat
WHERE age IS NULL;

 * sqlite://
Done.

[]

In [ ]:
# checking for a pattern in data
%%sql
SELECT age
FROM student_mat
WHERE age LIKE pattern;

 * sqlite://
(sqlite3.OperationalError) no such column: pattern
[SQL: SELECT age
FROM student_mat
WHERE age LIKE pattern;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# including rows meeting certain condition
%%sql
SELECT age
FROM student_mat
WHERE age = 20
   OR age = 22;

 * sqlite://
Done.

[(22,), (20,), (20,), (20,)]

In [ ]:
# ordaring our data
%%sql
SELECT age
FROM student_mat
ORDER BY age DESC LIMIT 5;

 * sqlite://
Done.

[(22,), (21,), (20,), (20,), (20,)]

In [ ]:
# selecting a column

%%sql
SELECT FJob 
FROM student_mat LIMIT 5;

 * sqlite://
Done.

[('teacher',), ('other',), ('other',), ('services',), ('other',)]

In [ ]:
# selecting specific columns
%%sql
SELECT * FROM student_mat
WHERE famsize='LE3' OR G1 =20;

 * sqlite://
Done.

[('GP', 'F', 15, 'U', 'LE3', 'T', 1, 1, 'at_home', 'other', 'other', 'mother', 1, 2, 3, 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 2, 2, 3, 3, 10, 7, 8, 10),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 4, 3, 'services', 'other', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 2, 1, 2, 5, 10, 15, 15, 15),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'home', 'mother', 1, 2, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 1, 1, 3, 0, 12, 12, 11),
 ('GP', 'M', 15, 'U', 'LE3', 'A', 3, 2, 'services', 'other', 'home', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 2, 2, 1, 1, 1, 0, 16, 18, 19),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 4, 4, 'health', 'services', 'course', 'father', 1, 1, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 3, 3, 1, 3, 5, 2, 14, 14, 14),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 4, 3, 'health', 'other', 'home', 'father', 1, 1, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 3, 1, 3, 1, 3, 5, 4, 8, 10, 10),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 4, 2, 'teacher', 'other', 'course', 'mother', 1, 2, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 5, 1, 1, 3, 5, 2, 15, 15, 16),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'reputation', 'mother', 2, 2, 0, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 4, 2, 4, 5, 0, 13, 13, 12),
 ('GP', 'M', 16, 'U', 'LE3', 'A', 3, 4, 'services', 'other', 'home', 'mother', 1, 2, 0, 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 5, 3, 3, 1, 1, 5, 4, 11, 11, 11),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 3, 3, 'other', 'other', 'course', 'mother', 1, 2, 0, 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 5, 3, 2, 1, 1, 2, 0, 8, 10, 12),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 4, 3, 'teacher', 'services', 'home', 'mother', 1, 3, 0, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 3, 1, 1, 4, 2, 15, 16, 18),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'home', 'mother', 2, 2, 1, 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 3, 3, 3, 1, 2, 3, 25, 7, 10, 11),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 4, 4, 'teacher', 'other', 'home', 'other', 1, 1, 0, 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'yes', 5, 4, 3, 2, 4, 5, 8, 12, 12, 12),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 2, 2, 'other', 'at_home', 'course', 'father', 2, 2, 1, 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 3, 3, 2, 2, 5, 14, 10, 10, 9),
 ('GP', 'F', 15, 'U', 'LE3', 'A', 4, 3, 'other', 'other', 'course', 'mother', 1, 2, 0, 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 5, 2, 2, 1, 1, 5, 8, 8, 8, 6),
 ('GP', 'F', 16, 'U', 'LE3', 'A', 3, 3, 'other', 'services', 'home', 'mother', 1, 2, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 2, 3, 5, 1, 4, 3, 12, 11, 12, 11),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 2, 2, 'services', 'services', 'course', 'mother', 3, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 3, 2, 3, 4, 2, 12, 13, 13),
 ('GP', 'F', 15, 'U', 'LE3', 'T', 4, 2, 'health', 'other', 'other', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 3, 1, 1, 5, 2, 11, 13, 13),
 ('GP', 'M', 15, 'U', 'LE3', 'A', 4, 2, 'health', 'health', 'other', 'father', 2, 1, 1, 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 5, 5, 5, 3, 4, 5, 6, 11, 11, 10),
 ('GP', 'F', 15, 'U', 'LE3', 'A', 3, 3, 'other', 'other', 'other', 'mother', 1, 1, 0, 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 5, 3, 4, 4, 4, 1, 6, 10, 13, 13),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 1, 2, 'other', 'at_home', 'home', 'father', 1, 2, 0, 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 3, 2, 1, 1, 5, 2, 9, 10, 9),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 1, 2, 'other', 'services', 'reputation', 'father', 1, 2, 0, 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 4, 3, 1, 1, 1, 4, 8, 10, 9),
 ('GP', 'F', 15, 'U', 'LE3', 'T', 4, 3, 'services', 'services', 'reputation', 'father', 1, 2, 0, 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 4, 4, 2, 4, 2, 0, 10, 10, 10),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 4, 3, 'teacher', 'services', 'course', 'mother', 3, 2, 0, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 3, 1, 2, 1, 2, 16, 15, 15),
 ('GP', 'F', 15, 'R', 'LE3', 'T', 2, 2, 'health', 'services', 'reputation', 'mother', 2, 2, 0, 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 1, 3, 1, 3, 4, 2, 8, 9, 8),
 ('GP', 'F', 15, 'R', 'LE3', 'T', 3, 1, 'other', 'other', 'reputation', 'father', 2, 4, 0, 'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 4, 4, 2, 2, 3, 3, 12, 16, 16, 16),
 ('GP', 'F', 15, 'U', 'LE3', 'T', 3, 2, 'services', 'other', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 1, 1, 5, 10, 7, 6, 6),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 2, 2, 'services', 'services', 'home', 'mother', 2, 2, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 5, 3, 3, 1, 3, 4, 4, 15, 15, 15),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 2, 2, 'at_home', 'other', 'course', 'mother', 1, 2, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 4, 3, 4, 1, 2, 2, 4, 8, 7, 6),
 ('GP', 'M', 16, 'U', 'LE3', 'A', 4, 4, 'teacher', 'health', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 4, 1, 3, 3, 5, 5, 18, 8, 6, 7),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 3, 1, 'other', 'other', 'home', 'father', 1, 2, 0, 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 3, 3, 3, 2, 3, 2, 4, 7, 6, 6),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 2, 2, 'services', 'health', 'reputation', 'mother', 1, 4, 0, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 3, 4, 1, 1, 4, 6, 11, 13, 14),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 4, 4, 'health', 'health', 'other', 'mother', 1, 3, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 5, 4, 5, 1, 1, 4, 4, 14, 15, 16),
 ('GP', 'M', 15, 'U', 'LE3', 'A', 4, 4, 'teacher', 'teacher', 'course', 'mother', 1, 1, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 5, 5, 3, 1, 1, 4, 6, 18, 19, 19),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 4, 2, 'teacher', 'other', 'course', 'mother', 1, 1, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 3, 5, 2, 1, 1, 3, 10, 18, 19, 19),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 2, 4, 'other', 'health', 'course', 'father', 2, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 2, 2, 1, 2, 5, 2, 13, 13, 13),
 ('GP', 'F', 15, 'U', 'LE3', 'A', 3, 4, 'other', 'other', 'home', 'mother', 1, 2, 0, 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 5, 3, 2, 1, 1, 1, 0, 7, 10, 11),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'course', 'father', 1, 1, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 3, 4, 4, 1, 3, 5, 12, 10, 13, 12),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 1, 1, 'services', 'other', 'course', 'mother', 1, 2, 1, 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 4, 4, 4, 1, 3, 5, 0, 14, 12, 12),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 2, 2, 'services', 'services', 'reputation', 'father', 2, 1, 2, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 2, 3, 3, 2, 2, 2, 8, 9, 9, 9),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 1, 1, 'at_home', 'at_home', 'course', 'mother', 1, 1, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 3, 4, 4, 3, 3, 1, 2, 14, 14, 13),
 ('GP', 'M', 15, 'U', 'LE3', 'A', 2, 1, 'services', 'other', 'course', 'mother', 4, 1, 3, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 4, 5, 5, 2, 5, 5, 0, 8, 9, 10),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 1, 1, 'other', 'other', 'course', 'mother', 1, 1, 3, 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 2, 3, 5, 2, 5, 4, 0, 6, 5, 0),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 2, 1, 'at_home', 'other', 'course', 'mother', 1, 1, 1, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 4, 4, 4, 3, 5, 5, 6, 12, 13, 14),
 ('GP', 'M', 17, 'R', 'LE3', 'T', 1, 2, 'other', 'other', 'reputation', 'mother', 1, 1, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 2, 2, 2, 3, 3, 5, 8, 16, 12, 13),
 ('GP', 'M', 17, 'R', 'LE3', 'T', 2, 1, 'at_home', 'other', 'course', 'mother', 2, 1, 2, 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 3, 3, 2, 2, 2, 5, 0, 7, 6, 0),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 1, 2, 'other', 'other', 'course', 'mother', 2, 1, 1, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no', 4, 4, 4, 2, 4, 5, 0, 7, 0, 0),
 ('GP', 'M', 17, 'R', 'LE3', 'T', 1, 1, 'other', 'services', 'course', 'mother', 4, 2, 3, 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes', 5, 3, 5, 1, 5, 5, 0, 5, 8, 7),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 4, 4, 'teacher', 'other', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 1, 3, 5, 0, 13, 11, 10),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 3, 3, 'other', 'other', 'reputation', 'mother', 2, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 4, 5, 1, 1, 4, 4, 10, 11, 9),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 4, 3, 'teacher', 'other', 'course', 'mother', 2, 2, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 4, 4, 4, 4, 10, 9, 9),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 3, 3, 'other', 'other', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 5, 3, 3, 2, 3, 1, 56, 9, 9, 8),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 2, 1, 'other', 'other', 'course', 'mother', 1, 2, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 2, 3, 1, 2, 5, 0, 15, 15, 15),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 2, 4, 'services', 'services', 'course', 'father', 1, 2, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 3, 2, 1, 1, 5, 0, 14, 15, 15),
 ('GP', 'M', 16, 'R', 'LE3', 'T', 3, 3, 'teacher', 'other', 'home', 'father', 3, 1, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 3, 3, 4, 3, 5, 3, 8, 9, 9, 10),
 ('GP', 'F', 16, 'U', 'LE3', 'T', 4, 4, 'teacher', 'teacher', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 5, 2, 1, 2, 3, 0, 9, 9, 10),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 4, 4, 'services', 'other', 'home', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 5, 3, 5, 4, 5, 3, 13, 12, 12, 13),
 ('GP', 'F', 17, 'R', 'LE3', 'T', 4, 4, 'services', 'other', 'other', 'mother', 1, 1, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 5, 2, 1, 1, 2, 3, 12, 8, 10, 10),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 3, 2, 'other', 'other', 'reputation', 'mother', 2, 2, 0, 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 1, 3, 1, 2, 14, 15, 15),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 3, 3, 'services', 'health', 'home', 'father', 1, 2, 1, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 3, 2, 4, 2, 4, 4, 13, 6, 6, 8),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 2, 3, 'services', 'services', 'reputation', 'father', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 5, 3, 3, 1, 3, 3, 2, 12, 11, 12),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 2, 1, 'at_home', 'other', 'course', 'mother', 4, 2, 0, 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 3, 2, 4, 5, 3, 14, 10, 8, 9),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 4, 3, 'health', 'other', 'reputation', 'father', 1, 2, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 3, 2, 3, 1, 2, 3, 14, 13, 13, 14),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 1, 1, 'other', 'other', 'home', 'mother', 2, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 3, 4, 2, 1, 1, 5, 18, 9, 7, 6),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'home', 'father', 1, 2, 0, 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 4, 4, 2, 5, 5, 4, 4, 14, 13, 13),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 4, 3, 'health', 'other', 'course', 'mother', 2, 2, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 2, 5, 5, 1, 4, 5, 14, 12, 12, 12),
 ('GP', 'M', 17, 'R', 'LE3', 'A', 4, 4, 'teacher', 'other', 'course', 'mother', 2, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 3, 3, 3, 2, 3, 4, 2, 10, 11, 12),
 ('GP', 'M', 16, 'U', 'LE3', 'T', 4, 3, 'teacher', 'other', 'course', 'mother', 1, 1, 0, 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 5, 4, 5, 1, 1, 3, 0, 6, 0, 0),
 ('GP', 'M', 18, 'R', 'LE3', 'T', 3, 3, 'other', 'services', 'course', 'mother', 1, 2, 1, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 4, 3, 3, 1, 3, 5, 8, 3, 5, 5),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 1, 1, 'health', 'other', 'course', 'mother', 2, 1, 1, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 1, 2, 5, 2, 7, 9, 8),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 4, 2, 'teacher', 'services', 'reputation', 'mother', 1, 4, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 2, 3, 1, 1, 4, 6, 14, 12, 13),
 ('GP', 'M', 19, 'U', 'LE3', 'A', 4, 3, 'services', 'at_home', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 1, 1, 1, 1, 12, 11, 11, 11),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 2, 2, 'services', 'services', 'course', 'father', 1, 4, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 3, 4, 1, 1, 1, 2, 0, 10, 9, 0),
 ('GP', 'M', 18, 'R', 'LE3', 'A', 3, 4, 'other', 'other', 'reputation', 'mother', 2, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 2, 5, 3, 4, 1, 13, 17, 17, 17),
 ('GP', 'F', 18, 'U', 'LE3', 'T', 1, 1, 'other', 'other', 'home', 'mother', 2, 2, 0, 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 4, 4, 3, 1, 1, 3, 2, 11, 11, 11),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 2, 2, 'services', 'other', 'course', 'mother', 2, 2, 0, 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 4, 4, 4, 2, 3, 5, 6, 12, 12, 12),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 4, 3, 'teacher', 'services', 'course', 'mother', 2, 1, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 4, 2, 3, 1, 2, 1, 8, 10, 11, 10),
 ('GP', 'M', 17, 'U', 'LE3', 'A', 4, 1, 'services', 'other', 'home', 'mother', 2, 1, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 5, 4, 2, 4, 5, 30, 8, 8, 8),
 ('GP', 'M', 17, 'U', 'LE3', 'A', 3, 2, 'teacher', 'services', 'home', 'mother', 1, 1, 1, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 4, 4, 4, 3, 4, 3, 19, 11, 9, 10),
 ('GP', 'F', 18, 'R', 'LE3', 'T', 1, 1, 'at_home', 'other', 'reputation', 'mother', 2, 4, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 5, 2, 2, 1, 1, 3, 1, 12, 12, 12),
 ('GP', 'M', 18, 'U', 'LE3', 'A', 4, 4, 'teacher', 'teacher', 'reputation', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 3, 1, 1, 2, 9, 15, 13, 15),
 ('GP', 'F', 18, 'U', 'LE3', 'T', 2, 1, 'services', 'at_home', 'reputation', 'mother', 1, 2, 1, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 5, 4, 3, 1, 1, 5, 12, 12, 12, 13),
 ('GP', 'F', 17, 'R', 'LE3', 'T', 3, 1, 'services', 'other', 'reputation', 'mother', 2, 4, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 3, 1, 2, 1, 1, 3, 6, 18, 18, 18),
 ('GP', 'M', 18, 'R', 'LE3', 'T', 3, 2, 'services', 'other', 'reputation', 'mother', 2, 3, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 2, 1, 1, 4, 8, 14, 13, 14),
 ('GP', 'F', 18, 'U', 'LE3', 'T', 4, 3, 'other', 'other', 'home', 'other', 2, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 4, 4, 5, 1, 2, 2, 10, 10, 8, 8),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 4, 4, 'teacher', 'teacher', 'home', 'mother', 1, 1, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 1, 4, 2, 2, 2, 1, 5, 16, 15, 16),
 ('GP', 'F', 18, 'U', 'LE3', 'A', 4, 4, 'health', 'other', 'home', 'mother', 1, 2, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 4, 2, 4, 1, 1, 4, 14, 12, 10, 11),
 ('GP', 'M', 17, 'U', 'LE3', 'T', 4, 4, 'other', 'teacher', 'home', 'father', 2, 1, 0, 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 1, 1, 2, 2, 5, 0, 11, 11, 10),
 ('GP', 'F', 19, 'U', 'LE3', 'T', 1, 1, 'at_home', 'other', 'reputation', 'other', 1, 2, 1, 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 4, 4, 3, 1, 3, 3, 18, 12, 10, 10),
 ('GP', 'F', 19, 'U', 'LE3', 'T', 1, 2, 'services', 'services', 'home', 'other', 1, 2, 1, 'no', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 4, 2, 4, 2, 2, 3, 0, 9, 9, 0),
 ('GP', 'F', 19, 'U', 'LE3', 'T', 3, 2, 'services', 'other', 'reputation', 'other', 2, 2, 1, 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 4, 2, 2, 1, 2, 1, 22, 13, 10, 11),
 ('GP', 'F', 17, 'R', 'LE3', 'T', 2, 2, 'services', 'services', 'course', 'mother', 1, 3, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 3, 3, 2, 2, 2, 3, 3, 11, 11, 11),
 ('GP', 'F', 17, 'U', 'LE3', 'T', 0, 2, 'at_home', 'at_home', 'home', 'father', 2, 3, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 3, 3, 3, 2, 3, 2, 0, 16, 15, 15),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'course', 'mother', 1, 4, 0, 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 5, 5, 2, 4, 5, 2, 9, 8, 8),
 ('GP', 'F', 18, 'U', 'LE3', 'T', 2, 2, 'other', 'other', 'home', 'other', 1, 2, 0, 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 4, 3, 3, 1, 1, 2, 0, 8, 8, 0),
 ('GP', 'F', 18, 'U', 'LE3', 'T', 3, 3, 'services', 'services', 'home', 'mother', 1, 4, 0, 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 5, 3, 3, 1, 1, 1, 7, 16, 15, 17),
 ('GP', 'M', 18, 'U', 'LE3', 'T', 3, 4, 'services', 'other', 'home', 'mother', 1, 2, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 4, 3, 3, 1, 3, 5, 11, 16, 15, 15),
 ('MS', 'M', 18, 'U', 'LE3', 'T', 1, 3, 'at_home', 'services', 'course', 'mother', 1, 1, 1, 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 4, 3, 3, 2, 3, 3, 7, 8, 7, 8),
 ('MS', 'F', 17, 'U', 'LE3', 'A', 3, 2, 'services', 'other', 'reputation', 'mother', 2, 2, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 1, 2, 3, 1, 2, 5, 2, 12, 12, 11),
 ('MS', 'M', 18, 'U', 'LE3', 'T', 1, 1, 'other', 'services', 'home', 'father', 2, 1, 0, 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 3, 3, 2, 1, 2, 3, 4, 10, 10, 10),
 ('MS', 'F', 18, 'U', 'LE3', 'T', 1, 1, 'at_home', 'services', 'course', 'father', 2, 3, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 5, 3, 2, 1, 1, 4, 0, 18, 16, 16),
 ('MS', 'F', 18, 'R', 'LE3', 'A', 1, 4, 'at_home', 'other', 'course', 'mother', 3, 2, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 'yes', 4, 3, 4, 1, 4, 5, 0, 13, 13, 13),
 ('MS', 'M', 18, 'R', 'LE3', 'T', 1, 1, 'at_home', 'other', 'other', 'mother', 2, 2, 1, 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'no', 4, 4, 3, 2, 3, 5, 2, 13, 12, 12),
 ('MS', 'F', 17, 'U', 'LE3', 'T', 4, 4, 'at_home', 'at_home', 'course', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 2, 3, 4, 1, 1, 1, 0, 16, 15, 15),
 ('MS', 'M', 18, 'U', 'LE3', 'T', 4, 4, 'teacher', 'services', 'other', 'mother', 2, 3, 0, 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'yes', 4, 2, 2, 2, 2, 5, 0, 13, 13, 13),
 ('MS', 'F', 19, 'U', 'LE3', 'T', 3, 2, 'services', 'services', 'home', 'other', 2, 2, 2, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 3, 2, 2, 1, 1, 3, 4, 7, 7, 9),
 ('MS', 'M', 18, 'R', 'LE3', 'T', 1, 2, 'at_home', 'services', 'other', 'father', 3, 1, 0, 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 4, 3, 3, 2, 3, 3, 3, 14, 12, 12),
 ('MS', 'F', 18, 'R', 'LE3', 'T', 4, 4, 'other', 'other', 'reputation', 'mother', 2, 3, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 5, 4, 4, 1, 1, 1, 0, 19, 18, 19),
 ('MS', 'F', 18, 'R', 'LE3', 'T', 4, 4, 'teacher', 'services', 'course', 'mother', 1, 2, 0, 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'yes', 'no', 5, 4, 3, 3, 4, 2, 4, 8, 9, 10),
 ('MS', 'F', 18, 'U', 'LE3', 'T', 3, 1, 'teacher', 'services', 'course', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 4, 1, 1, 1, 0, 7, 9, 8),
 ('MS', 'M', 20, 'U', 'LE3', 'A', 2, 2, 'services', 'services', 'course', 'other', 1, 2, 2, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 5, 5, 4, 4, 5, 4, 11, 9, 9, 9),
 ('MS', 'M', 17, 'U', 'LE3', 'T', 3, 1, 'services', 'services', 'course', 'mother', 2, 1, 0, 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 2, 4, 5, 3, 4, 2, 3, 14, 16, 16),
 ('MS', 'M', 18, 'R', 'LE3', 'T', 3, 2, 'services', 'other', 'course', 'mother', 3, 1, 0, 'no', 'no', 'no', 'no', 'no', 'yes', 'yes', 'no', 4, 4, 1, 3, 4, 5, 0, 11, 12, 10),

In [ ]:
# using the condition between
%%sql
SELECT * FROM student_mat
WHERE G3 BETWEEN 19 AND 20;

 * sqlite://
Done.

[('GP', 'M', 15, 'U', 'LE3', 'A', 3, 2, 'services', 'other', 'home', 'mother', 1, 2, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 2, 2, 1, 1, 1, 0, 16, 18, 19),
 ('GP', 'M', 16, 'U', 'GT3', 'T', 4, 3, 'health', 'services', 'reputation', 'mother', 1, 4, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 4, 2, 2, 1, 1, 2, 4, 19, 19, 20),
 ('GP', 'M', 15, 'U', 'LE3', 'A', 4, 4, 'teacher', 'teacher', 'course', 'mother', 1, 1, 0, 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 5, 5, 3, 1, 1, 4, 6, 18, 19, 19),
 ('GP', 'M', 15, 'U', 'LE3', 'T', 4, 2, 'teacher', 'other', 'course', 'mother', 1, 1, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 3, 5, 2, 1, 1, 3, 10, 18, 19, 19),
 ('GP', 'F', 18, 'U', 'GT3', 'T', 2, 2, 'at_home', 'at_home', 'other', 'mother', 1, 3, 0, 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 4, 3, 3, 1, 2, 2, 5, 18, 18, 19),
 ('MS', 'F', 18, 'R', 'LE3', 'T', 4, 4, 'other', 'other', 'reputation', 'mother', 2, 3, 0, 'no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 5, 4, 4, 1, 1, 1, 0, 19, 18, 19)]